{% extends 'swiggy1/layout/main.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        AMMAN HOTEL | FOOD COURT
        {% endblock title %}</title>
        
</head>
<body>
    {% block content %}
   
<center>
    <class="column-12"><h1 style= "background-color:rgb(71, 255, 163);">AMMAN HOTEL </h1>
</center>
{% include 'swiggy1/inc/slider.html' %}
        
        </div>
{% endblock content %}

    
</body>
</html>


























